# EL PROYECTO REQUIERE DE UN . ENV PARA FUNCIONAR
# VARIABLES DE ENTORNO REQUERIDAS PARA EJECUTAR EL PROYECTO
# PORT = 3002
# DB_HOST = localhost
# DB_PORT = 5432
# DB_NAME = appointmentsapppt23b
# DB_PASSWORD = Bgixxer250**